<div class="user-profile">
    <div class="user-img">
     <img src="../../../assets/img/dinesh.jpg" alt="ser">
     <p id="UserName">Dinesh Kumar Sah</p>
    </div>
    
</div>
<mat-nav-list>
    <a mat-list-item [routerLink]="['/grid-list']">Grid List</a>
    <a mat-list-item [routerLink]="['/form']">Form</a>
    <a mat-list-item [routerLink]="['/header-bar']">Header</a>
    <a mat-list-item [routerLink]="['/stapper']">Stapper</a>
    <a mat-list-item [routerLink]="['/table']">Table</a>
    <a mat-list-item [routerLink]="['/tabs']">Tabs</a>
    
 </mat-nav-list>
 
