<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-promise>ram</app-promise>
     
        <p>This paragraph</p>
        <ng-template ngFor let-person [ngForOf]="allPerson" let-i="index">
          <p>{{person.name}} {{person.age}}</p>
        </ng-template>
      
    </div>
    
    <div class="col-md-4">
      <app-ngifelse></app-ngifelse>
    </div>
    <div class="col-md-4">
      <app-ngifelsetest></app-ngifelsetest>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-ng-switchtest></app-ng-switchtest>
    </div>
  </div>
  <button mat-raised-button color="primary">sumit</button>

</div>-->
