<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>ng-template with ngSwitch</h1>
            <input type="radio" (click)="myDir='east'">East
            <input type="radio" (click)="myDir='west'">West
            <input type="radio" (click)="myDir='south'">South
            <input type="radio" (click)="myDir='north'">North
            <br/><br/>
            <!-- <div [ngSwitch]="myDir">
              <ng-template [ngSwitchCase]="'east'">Go to <b>East</b> Direction </ng-template>
              <ng-template [ngSwitchCase]="'west'">Go to <b>West</b> Direction</ng-template>
            </div> -->
        </div>
    </div>
</div>
